{
    "presets": [
        "env",
        "react"
    ],
    "plugins": [
        [
            "resolver",
            {
                "resolveDirs": [
                    "src"
                ]
            }
        ],
        "transform-class-properties"
    ]
}