.equationContainer header {
    display: flex;
    padding: 10px;

    h2 {
        flex: 1 1 auto;
    }
    a {
        flex: 0 0 auto;
    }
}

.equationContainer .controls {
    padding: 15px;
    text-align: center;
}