.qoc-mini-sidebar {
    background: linear-gradient(to left, lighten(#283848, 10%), #283848);
    color: white;
    font-size: 20px;
    flex: 0 0 auto;

    a, p {
        color: white;
        display: block;
        font: oblique 600 20px "Open Sans";
        padding: 15px;
        text-align: center;
    }
}