.qoc-sidebar {
    background: #fee;
    display: flex;
    flex-basis: 300px;
    flex-direction: column;
    max-width: 300px;

    h1 {
        background: linear-gradient(#384858, #283848);
        border-bottom: 1px solid #102030;
        color: #f8fcff;
        font: oblique 600 20px "Open Sans";
        margin: 0;
        padding: 10px 15px;
        text-shadow: 1px 1px 3px #182028;
    }

    a {
        color: #f8fcff;
        float: right;
    }
}