borderColor = #ddd;

.equationBox {
    background: white;
    border-left: 3px solid transparent;
    //border-top: 1px solid borderColor;
    display: flex;
    flex-direction: row;

    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 1px #aaa;
    background: linear-gradient(white, darken(white, 1.5%));

    &.error {
        border-left-color: red;
        padding-left: -10px;
        .expression input {
            text-decoration: underline;
            text-decoration-color: red;
        }
    }

    i, .icon {
        cursor: pointer;
        margin: auto 7px;
    }

    &:last-child {
        //border-bottom: 1px solid borderColor;
    }

    & > .symbol {
        flex: 0 1 auto;
        input {
            font: 400 16px "Open Sans";
            padding: 5px 0;
            text-align: center;
        }
    }

    & > .equals {
        cursor: default;
        font-weight: 300;
        padding: 5px 3px 5px 0;
    }

    & > .expression {
        flex: 1 1 auto;
        input {
            font: 300 14px "Open Sans";
            padding: 0 5px;
        }
    }

    input {
        background: transparent;
        border: 0;
        box-sizing: border-box;
        height: 100%;
        width: 100%;

        &:focus {
            // Remove the highlight
            border: 0;
            outline: 0;
        }
    }
}