.labeledInput {
    align-items: center;
    background: linear-gradient(white, darken(white, 1.5%));
    border-left: 3px solid transparent;
    border-radius: 5px;
    box-shadow: 0 1px 1px #aaa
    display: flex;
    flex-direction: row;
    margin: 5px;

    & > .expression {
        flex: 1 1 auto;
        input {
        }
    }

    input {
        background: transparent;
        border: 0;
        box-sizing: border-box;
        display: block;
        height: 100%;
        padding: 0 5px;
        width: 100%;

        &:focus {
            // Remove the highlight
            border: 0;
            outline: 0;
        }
    }

    .label, .unit {
        flex: 0 0 auto;
        padding: 5px 5px;
    }

    .label {
        font: 600 14px "Open Sans";
    }

    .unit {
        font-size: 13px;
    }

    label {
        margin: 0;
    }
}