.toastContainer {
    bottom: 0;
    left: 32.5%;
    position: fixed;
    width: 35%;
    margin: 0 auto;

    .toastInnerContainer {
        box-shadow: 0 0 7px black;
        margin: auto;
        max-width: 100%;
    }

    .toast {
        align-items: center;
        background: #283848;
        border-bottom: 1px solid darken(#283848, 30%);
        border-top: 1px solid lighten(#283848, 8%);
        color: white;
        display: flex;
        font-size: 14px;
        padding: 10px 30px;

        .toast-message {
            flex: 1 1 100%;
        }

        code {
            color: #ccf;
            font-size: inherit;
        }

        a.toast-close {
            color: #ccf;
            flex: 0 0 0;
        }
    }
}