.qChart {
    flex: 1 0 auto;

    .empty {
        color: #444;
        margin: 40px;
        text-align: center;

        h1 {
            margin-bottom: 15px;
        }

        .btn {
            margin: 0 5px;
            vertical-align: baseline;
        }
    }
}